.container_nav {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 2rem;
}

.container_nav h3 {
  font-size: 2rem;
  margin-right: 18rem;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
}

.links a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 2rem;
  color: #ffffff;
}

.links a:hover {
  color: #72ff20;
  letter-spacing: 2px;
}

.btn_post {
  border-radius: 1rem;
  padding: 10px 5px;
  padding-left: 35px;
  border: 1px solid #ffffff;
}
